<div class="max-w-md mx-auto">
    @if(form) {
    <form [formGroup] = "form" (ngSubmit)="update()">
      <div class="mb-4">
        <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Nombre</label>
        <input type="text" id="name" formControlName="name" class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring focus:border-blue-500">
      </div>
      <div class="mb-4">
        <label for="lastname" class="block text-gray-700 text-sm font-bold mb-2">Valor</label>
        <input type="text" id="lastname"  formControlName="valor" class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring focus:border-blue-500">
      </div>
      <div class="mb-4">
        <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Profesor</label>
        <select formControlName="teacher" class="border rounded p-2 w-full">
            <option>Seleccione...</option>
            @for (teacher of teachers; track teacher.id) {
            <option  [value]="teacher.id">{{ teacher.name }}</option>
            }
        </select>
      </div>
      <div class="mb-4">
        <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Estudiante</label>
        <select formControlName="student" class="border rounded p-2 w-full">
            <option>Seleccione...</option>
            @for (alumno of alumnos; track alumno.id) {
            <option  [value]="alumno.id">{{ alumno.name }}</option>
            }
        </select>
      </div>
      <div class="flex justify-end">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring focus:border-blue-500">
          Guardar
        </button>
      </div>
    </form>
    }
  </div>